<link rel="stylesheet" href="/css/arch.css" />
<div class="arch">
  <div class="archinherit arch01"></div>
  <div class="archinherit arch02"></div>
  <div class="archinherit arch03"></div>
  <div class="archinherit arch04"></div>
  <div class="archinherit arch05"></div>
  <div class="archinherit arch06"></div>
  <div class="archinherit arch07"></div>
  <div class="archinherit arch08"></div>
  <div class="archinherit arch09"></div>
  <div class="archinherit arch10"></div>
  <div class="archinherit arch11"></div>
  <div class="archinherit arch12"></div>
  <div class="archinherit arch13"></div>
  <div class="archinherit arch14"></div>
  <div class="archinherit arch15"></div>
  <div class="archinherit arch16"></div>
  <div class="archinherit arch17"></div>
  <div class="archinherit arch18"></div>
  <div class="archinherit arch19"></div>
  <div class="archinherit arch20"></div>
  <div class="circledot"></div>
</div>
<br />
<div>
  Modified from
  <a href="http://codepen.io/arobson13/pen/GHnqi">ALEX ROBSON's arch</a>
</div>
