.archinherit {
  -webkit-animation-duration: 2.4s;
  -moz-animation-duration: 2.4s;
  -ms-animation-duration: 2.4s;
  -o-animation-duration: 2.4s;
  animation-duration: 2.4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  position: absolute;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
}

.circledot {
  position: absolute;
  top: 210px;
  left: 210px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  border-color: #d7dff7;
}

.arch {
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 430px;
  height: 214px;
  overflow: hidden;
}

.arch01 {
  -webkit-animation-name: animatearch01;
  -moz-animation-name: animatearch01;
  -ms-animation-name: animatearch01;
  -o-animation-name: animatearch01;
  animation-name: animatearch01;
  top: 10px;
  left: 10px;
  width: 400px;
  height: 400px;
  border-color: transparent transparent #0f172f #0f172f;
}

.arch02 {
  -webkit-animation-name: animatearch02;
  -moz-animation-name: animatearch02;
  -ms-animation-name: animatearch02;
  -o-animation-name: animatearch02;
  animation-name: animatearch02;
  top: 20px;
  left: 20px;
  width: 380px;
  height: 380px;
  border-color: transparent transparent #192139 #192139;
}

.arch03 {
  -webkit-animation-name: animatearch03;
  -moz-animation-name: animatearch03;
  -ms-animation-name: animatearch03;
  -o-animation-name: animatearch03;
  animation-name: animatearch03;
  top: 30px;
  left: 30px;
  width: 360px;
  height: 360px;
  border-color: transparent transparent #232b43 #232b43;
}

.arch04 {
  -webkit-animation-name: animatearch04;
  -moz-animation-name: animatearch04;
  -ms-animation-name: animatearch04;
  -o-animation-name: animatearch04;
  animation-name: animatearch04;
  top: 40px;
  left: 40px;
  width: 340px;
  height: 340px;
  border-color: transparent transparent #2d354d #2d354d;
}

.arch05 {
  -webkit-animation-name: animatearch05;
  -moz-animation-name: animatearch05;
  -ms-animation-name: animatearch05;
  -o-animation-name: animatearch05;
  animation-name: animatearch05;
  top: 50px;
  left: 50px;
  width: 320px;
  height: 320px;
  border-color: transparent transparent #373f57 #373f57;
}

.arch06 {
  -webkit-animation-name: animatearch06;
  -moz-animation-name: animatearch06;
  -ms-animation-name: animatearch06;
  -o-animation-name: animatearch06;
  animation-name: animatearch06;
  top: 60px;
  left: 60px;
  width: 300px;
  height: 300px;
  border-color: transparent transparent #414961 #414961;
}

.arch07 {
  -webkit-animation-name: animatearch07;
  -moz-animation-name: animatearch07;
  -ms-animation-name: animatearch07;
  -o-animation-name: animatearch07;
  animation-name: animatearch07;
  top: 70px;
  left: 70px;
  width: 280px;
  height: 280px;
  border-color: transparent transparent #4b536b #4b536b;
}

.arch08 {
  -webkit-animation-name: animatearch08;
  -moz-animation-name: animatearch08;
  -ms-animation-name: animatearch08;
  -o-animation-name: animatearch08;
  animation-name: animatearch08;
  top: 80px;
  left: 80px;
  width: 260px;
  height: 260px;
  border-color: transparent transparent #555d75 #555d75;
}

.arch09 {
  -webkit-animation-name: animatearch09;
  -moz-animation-name: animatearch09;
  -ms-animation-name: animatearch09;
  -o-animation-name: animatearch09;
  animation-name: animatearch09;
  top: 90px;
  left: 90px;
  width: 240px;
  height: 240px;
  border-color: transparent transparent #5f677f #5f677f;
}

.arch10 {
  -webkit-animation-name: animatearch10;
  -moz-animation-name: animatearch10;
  -ms-animation-name: animatearch10;
  -o-animation-name: animatearch10;
  animation-name: animatearch10;
  top: 100px;
  left: 100px;
  width: 220px;
  height: 220px;
  border-color: transparent transparent #697189 #697189;
}

.arch11 {
  -webkit-animation-name: animatearch11;
  -moz-animation-name: animatearch11;
  -ms-animation-name: animatearch11;
  -o-animation-name: animatearch11;
  animation-name: animatearch11;
  top: 110px;
  left: 110px;
  width: 200px;
  height: 200px;
  border-color: transparent transparent #737b93 #737b93;
}

.arch12 {
  -webkit-animation-name: animatearch12;
  -moz-animation-name: animatearch12;
  -ms-animation-name: animatearch12;
  -o-animation-name: animatearch12;
  animation-name: animatearch12;
  top: 120px;
  left: 120px;
  width: 180px;
  height: 180px;
  border-color: transparent transparent #7d859d #7d859d;
}

.arch13 {
  -webkit-animation-name: animatearch13;
  -moz-animation-name: animatearch13;
  -ms-animation-name: animatearch13;
  -o-animation-name: animatearch13;
  animation-name: animatearch13;
  top: 130px;
  left: 130px;
  width: 160px;
  height: 160px;
  border-color: transparent transparent #878fa7 #878fa7;
}

.arch14 {
  -webkit-animation-name: animatearch14;
  -moz-animation-name: animatearch14;
  -ms-animation-name: animatearch14;
  -o-animation-name: animatearch14;
  animation-name: animatearch14;
  top: 140px;
  left: 140px;
  width: 140px;
  height: 140px;
  border-color: transparent transparent #9199b1 #9199b1;
}

.arch15 {
  -webkit-animation-name: animatearch15;
  -moz-animation-name: animatearch15;
  -ms-animation-name: animatearch15;
  -o-animation-name: animatearch15;
  animation-name: animatearch15;
  top: 150px;
  left: 150px;
  width: 120px;
  height: 120px;
  border-color: transparent transparent #9ba3bb #9ba3bb;
}

.arch16 {
  -webkit-animation-name: animatearch16;
  -moz-animation-name: animatearch16;
  -ms-animation-name: animatearch16;
  -o-animation-name: animatearch16;
  animation-name: animatearch16;
  top: 160px;
  left: 160px;
  width: 100px;
  height: 100px;
  border-color: transparent transparent #a5adc5 #a5adc5;
}

.arch17 {
  -webkit-animation-name: animatearch17;
  -moz-animation-name: animatearch17;
  -ms-animation-name: animatearch17;
  -o-animation-name: animatearch17;
  animation-name: animatearch17;
  top: 170px;
  left: 170px;
  width: 80px;
  height: 80px;
  border-color: transparent transparent #afb7cf #afb7cf;
}

.arch18 {
  -webkit-animation-name: animatearch18;
  -moz-animation-name: animatearch18;
  -ms-animation-name: animatearch18;
  -o-animation-name: animatearch18;
  animation-name: animatearch18;
  top: 180px;
  left: 180px;
  width: 60px;
  height: 60px;
  border-color: transparent transparent #b9c1d9 #b9c1d9;
}

.arch19 {
  -webkit-animation-name: animatearch19;
  -moz-animation-name: animatearch19;
  -ms-animation-name: animatearch19;
  -o-animation-name: animatearch19;
  animation-name: animatearch19;
  top: 190px;
  left: 190px;
  width: 40px;
  height: 40px;
  border-color: transparent transparent #c3cbe3 #c3cbe3;
}

.arch20 {
  -webkit-animation-name: animatearch20;
  -moz-animation-name: animatearch20;
  -ms-animation-name: animatearch20;
  -o-animation-name: animatearch20;
  animation-name: animatearch20;
  top: 200px;
  left: 200px;
  width: 20px;
  height: 20px;
  border-color: transparent transparent #cdd5ed #cdd5ed;
}

@-webkit-keyframes animatearch01 {
  0% {
    -webkit-transform: rotate(-43deg);
  }
  50% {
    -webkit-transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(-43deg);
  }
}

@-webkit-keyframes animatearch02 {
  0% {
    -webkit-transform: rotate(-25.2deg);
  }
  5% {
    -webkit-transform: rotate(-43deg);
  }
  55% {
    -webkit-transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(-25.2deg);
  }
}

@-webkit-keyframes animatearch03 {
  0% {
    -webkit-transform: rotate(-7.4deg);
  }
  10% {
    -webkit-transform: rotate(-43deg);
  }
  60% {
    -webkit-transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(-7.4deg);
  }
}

@-webkit-keyframes animatearch04 {
  0% {
    -webkit-transform: rotate(10.4deg);
  }
  15% {
    -webkit-transform: rotate(-43deg);
  }
  65% {
    -webkit-transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(10.4deg);
  }
}

@-webkit-keyframes animatearch05 {
  0% {
    -webkit-transform: rotate(28.2deg);
  }
  20% {
    -webkit-transform: rotate(-43deg);
  }
  70% {
    -webkit-transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(28.2deg);
  }
}

@-webkit-keyframes animatearch06 {
  0% {
    -webkit-transform: rotate(46deg);
  }
  25% {
    -webkit-transform: rotate(-43deg);
  }
  75% {
    -webkit-transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(46deg);
  }
}

@-webkit-keyframes animatearch07 {
  0% {
    -webkit-transform: rotate(63.8deg);
  }
  30% {
    -webkit-transform: rotate(-43deg);
  }
  80% {
    -webkit-transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(63.8deg);
  }
}

@-webkit-keyframes animatearch08 {
  0% {
    -webkit-transform: rotate(81.6deg);
  }
  35% {
    -webkit-transform: rotate(-43deg);
  }
  85% {
    -webkit-transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(81.6deg);
  }
}

@-webkit-keyframes animatearch09 {
  0% {
    -webkit-transform: rotate(99.4deg);
  }
  40% {
    -webkit-transform: rotate(-43deg);
  }
  90% {
    -webkit-transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(99.4deg);
  }
}

@-webkit-keyframes animatearch10 {
  0% {
    -webkit-transform: rotate(117.2deg);
  }
  45% {
    -webkit-transform: rotate(-43deg);
  }
  95% {
    -webkit-transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(117.2deg);
  }
}

@-webkit-keyframes animatearch11 {
  0% {
    -webkit-transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(-43deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
  }
}

@-webkit-keyframes animatearch12 {
  0% {
    -webkit-transform: rotate(117.2deg);
  }
  5% {
    -webkit-transform: rotate(135deg);
  }
  55% {
    -webkit-transform: rotate(-43deg);
  }
  100% {
    -webkit-transform: rotate(117.2deg);
  }
}

@-webkit-keyframes animatearch13 {
  0% {
    -webkit-transform: rotate(99.4deg);
  }
  10% {
    -webkit-transform: rotate(135deg);
  }
  60% {
    -webkit-transform: rotate(-43deg);
  }
  100% {
    -webkit-transform: rotate(99.4deg);
  }
}

@-webkit-keyframes animatearch14 {
  0% {
    -webkit-transform: rotate(81.6deg);
  }
  15% {
    -webkit-transform: rotate(135deg);
  }
  65% {
    -webkit-transform: rotate(-43deg);
  }
  100% {
    -webkit-transform: rotate(81.6deg);
  }
}

@-webkit-keyframes animatearch15 {
  0% {
    -webkit-transform: rotate(63.8deg);
  }
  20% {
    -webkit-transform: rotate(135deg);
  }
  70% {
    -webkit-transform: rotate(-43deg);
  }
  100% {
    -webkit-transform: rotate(63.8deg);
  }
}

@-webkit-keyframes animatearch16 {
  0% {
    -webkit-transform: rotate(46deg);
  }
  25% {
    -webkit-transform: rotate(135deg);
  }
  75% {
    -webkit-transform: rotate(-43deg);
  }
  100% {
    -webkit-transform: rotate(46deg);
  }
}

@-webkit-keyframes animatearch17 {
  0% {
    -webkit-transform: rotate(28.2deg);
  }
  30% {
    -webkit-transform: rotate(135deg);
  }
  80% {
    -webkit-transform: rotate(-43deg);
  }
  100% {
    -webkit-transform: rotate(28.2deg);
  }
}

@-webkit-keyframes animatearch18 {
  0% {
    -webkit-transform: rotate(10.4deg);
  }
  35% {
    -webkit-transform: rotate(135deg);
  }
  85% {
    -webkit-transform: rotate(-43deg);
  }
  100% {
    -webkit-transform: rotate(10.4deg);
  }
}

@-webkit-keyframes animatearch19 {
  0% {
    -webkit-transform: rotate(-7.4deg);
  }
  40% {
    -webkit-transform: rotate(135deg);
  }
  90% {
    -webkit-transform: rotate(-43deg);
  }
  100% {
    -webkit-transform: rotate(-7.4deg);
  }
}

@-webkit-keyframes animatearch20 {
  0% {
    -webkit-transform: rotate(-25.2deg);
  }
  45% {
    -webkit-transform: rotate(135deg);
  }
  95% {
    -webkit-transform: rotate(-43deg);
  }
  100% {
    -webkit-transform: rotate(-25.2deg);
  }
}

@-moz-keyframes animatearch01 {
  0% {
    -moz-transform: rotate(-43deg);
  }
  50% {
    -moz-transform: rotate(135deg);
  }
  100% {
    -moz-transform: rotate(-43deg);
  }
}

@-moz-keyframes animatearch02 {
  0% {
    -moz-transform: rotate(-25.2deg);
  }
  5% {
    -moz-transform: rotate(-43deg);
  }
  55% {
    -moz-transform: rotate(135deg);
  }
  100% {
    -moz-transform: rotate(-25.2deg);
  }
}

@-moz-keyframes animatearch03 {
  0% {
    -moz-transform: rotate(-7.4deg);
  }
  10% {
    -moz-transform: rotate(-43deg);
  }
  60% {
    -moz-transform: rotate(135deg);
  }
  100% {
    -moz-transform: rotate(-7.4deg);
  }
}

@-moz-keyframes animatearch04 {
  0% {
    -moz-transform: rotate(10.4deg);
  }
  15% {
    -moz-transform: rotate(-43deg);
  }
  65% {
    -moz-transform: rotate(135deg);
  }
  100% {
    -moz-transform: rotate(10.4deg);
  }
}

@-moz-keyframes animatearch05 {
  0% {
    -moz-transform: rotate(28.2deg);
  }
  20% {
    -moz-transform: rotate(-43deg);
  }
  70% {
    -moz-transform: rotate(135deg);
  }
  100% {
    -moz-transform: rotate(28.2deg);
  }
}

@-moz-keyframes animatearch06 {
  0% {
    -moz-transform: rotate(46deg);
  }
  25% {
    -moz-transform: rotate(-43deg);
  }
  75% {
    -moz-transform: rotate(135deg);
  }
  100% {
    -moz-transform: rotate(46deg);
  }
}

@-moz-keyframes animatearch07 {
  0% {
    -moz-transform: rotate(63.8deg);
  }
  30% {
    -moz-transform: rotate(-43deg);
  }
  80% {
    -moz-transform: rotate(135deg);
  }
  100% {
    -moz-transform: rotate(63.8deg);
  }
}

@-moz-keyframes animatearch08 {
  0% {
    -moz-transform: rotate(81.6deg);
  }
  35% {
    -moz-transform: rotate(-43deg);
  }
  85% {
    -moz-transform: rotate(135deg);
  }
  100% {
    -moz-transform: rotate(81.6deg);
  }
}

@-moz-keyframes animatearch09 {
  0% {
    -moz-transform: rotate(99.4deg);
  }
  40% {
    -moz-transform: rotate(-43deg);
  }
  90% {
    -moz-transform: rotate(135deg);
  }
  100% {
    -moz-transform: rotate(99.4deg);
  }
}

@-moz-keyframes animatearch10 {
  0% {
    -moz-transform: rotate(117.2deg);
  }
  45% {
    -moz-transform: rotate(-43deg);
  }
  95% {
    -moz-transform: rotate(135deg);
  }
  100% {
    -moz-transform: rotate(117.2deg);
  }
}

@-moz-keyframes animatearch11 {
  0% {
    -moz-transform: rotate(135deg);
  }
  50% {
    -moz-transform: rotate(-43deg);
  }
  100% {
    -moz-transform: rotate(135deg);
  }
}

@-moz-keyframes animatearch12 {
  0% {
    -moz-transform: rotate(117.2deg);
  }
  5% {
    -moz-transform: rotate(135deg);
  }
  55% {
    -moz-transform: rotate(-43deg);
  }
  100% {
    -moz-transform: rotate(117.2deg);
  }
}

@-moz-keyframes animatearch13 {
  0% {
    -moz-transform: rotate(99.4deg);
  }
  10% {
    -moz-transform: rotate(135deg);
  }
  60% {
    -moz-transform: rotate(-43deg);
  }
  100% {
    -moz-transform: rotate(99.4deg);
  }
}

@-moz-keyframes animatearch14 {
  0% {
    -moz-transform: rotate(81.6deg);
  }
  15% {
    -moz-transform: rotate(135deg);
  }
  65% {
    -moz-transform: rotate(-43deg);
  }
  100% {
    -moz-transform: rotate(81.6deg);
  }
}

@-moz-keyframes animatearch15 {
  0% {
    -moz-transform: rotate(63.8deg);
  }
  20% {
    -moz-transform: rotate(135deg);
  }
  70% {
    -moz-transform: rotate(-43deg);
  }
  100% {
    -moz-transform: rotate(63.8deg);
  }
}

@-moz-keyframes animatearch16 {
  0% {
    -moz-transform: rotate(46deg);
  }
  25% {
    -moz-transform: rotate(135deg);
  }
  75% {
    -moz-transform: rotate(-43deg);
  }
  100% {
    -moz-transform: rotate(46deg);
  }
}

@-moz-keyframes animatearch17 {
  0% {
    -moz-transform: rotate(28.2deg);
  }
  30% {
    -moz-transform: rotate(135deg);
  }
  80% {
    -moz-transform: rotate(-43deg);
  }
  100% {
    -moz-transform: rotate(28.2deg);
  }
}

@-moz-keyframes animatearch18 {
  0% {
    -moz-transform: rotate(10.4deg);
  }
  35% {
    -moz-transform: rotate(135deg);
  }
  85% {
    -moz-transform: rotate(-43deg);
  }
  100% {
    -moz-transform: rotate(10.4deg);
  }
}

@-moz-keyframes animatearch19 {
  0% {
    -moz-transform: rotate(-7.4deg);
  }
  40% {
    -moz-transform: rotate(135deg);
  }
  90% {
    -moz-transform: rotate(-43deg);
  }
  100% {
    -moz-transform: rotate(-7.4deg);
  }
}

@-moz-keyframes animatearch20 {
  0% {
    -moz-transform: rotate(-25.2deg);
  }
  45% {
    -moz-transform: rotate(135deg);
  }
  95% {
    -moz-transform: rotate(-43deg);
  }
  100% {
    -moz-transform: rotate(-25.2deg);
  }
}

@-ms-keyframes animatearch01 {
  0% {
    -ms-transform: rotate(-43deg);
  }
  50% {
    -ms-transform: rotate(135deg);
  }
  100% {
    -ms-transform: rotate(-43deg);
  }
}

@-ms-keyframes animatearch02 {
  0% {
    -ms-transform: rotate(-25.2deg);
  }
  5% {
    -ms-transform: rotate(-43deg);
  }
  55% {
    -ms-transform: rotate(135deg);
  }
  100% {
    -ms-transform: rotate(-25.2deg);
  }
}

@-ms-keyframes animatearch03 {
  0% {
    -ms-transform: rotate(-7.4deg);
  }
  10% {
    -ms-transform: rotate(-43deg);
  }
  60% {
    -ms-transform: rotate(135deg);
  }
  100% {
    -ms-transform: rotate(-7.4deg);
  }
}

@-ms-keyframes animatearch04 {
  0% {
    -ms-transform: rotate(10.4deg);
  }
  15% {
    -ms-transform: rotate(-43deg);
  }
  65% {
    -ms-transform: rotate(135deg);
  }
  100% {
    -ms-transform: rotate(10.4deg);
  }
}

@-ms-keyframes animatearch05 {
  0% {
    -ms-transform: rotate(28.2deg);
  }
  20% {
    -ms-transform: rotate(-43deg);
  }
  70% {
    -ms-transform: rotate(135deg);
  }
  100% {
    -ms-transform: rotate(28.2deg);
  }
}

@-ms-keyframes animatearch06 {
  0% {
    -ms-transform: rotate(46deg);
  }
  25% {
    -ms-transform: rotate(-43deg);
  }
  75% {
    -ms-transform: rotate(135deg);
  }
  100% {
    -ms-transform: rotate(46deg);
  }
}

@-ms-keyframes animatearch07 {
  0% {
    -ms-transform: rotate(63.8deg);
  }
  30% {
    -ms-transform: rotate(-43deg);
  }
  80% {
    -ms-transform: rotate(135deg);
  }
  100% {
    -ms-transform: rotate(63.8deg);
  }
}

@-ms-keyframes animatearch08 {
  0% {
    -ms-transform: rotate(81.6deg);
  }
  35% {
    -ms-transform: rotate(-43deg);
  }
  85% {
    -ms-transform: rotate(135deg);
  }
  100% {
    -ms-transform: rotate(81.6deg);
  }
}

@-ms-keyframes animatearch09 {
  0% {
    -ms-transform: rotate(99.4deg);
  }
  40% {
    -ms-transform: rotate(-43deg);
  }
  90% {
    -ms-transform: rotate(135deg);
  }
  100% {
    -ms-transform: rotate(99.4deg);
  }
}

@-ms-keyframes animatearch10 {
  0% {
    -ms-transform: rotate(117.2deg);
  }
  45% {
    -ms-transform: rotate(-43deg);
  }
  95% {
    -ms-transform: rotate(135deg);
  }
  100% {
    -ms-transform: rotate(117.2deg);
  }
}

@-ms-keyframes animatearch11 {
  0% {
    -ms-transform: rotate(135deg);
  }
  50% {
    -ms-transform: rotate(-43deg);
  }
  100% {
    -ms-transform: rotate(135deg);
  }
}

@-ms-keyframes animatearch12 {
  0% {
    -ms-transform: rotate(117.2deg);
  }
  5% {
    -ms-transform: rotate(135deg);
  }
  55% {
    -ms-transform: rotate(-43deg);
  }
  100% {
    -ms-transform: rotate(117.2deg);
  }
}

@-ms-keyframes animatearch13 {
  0% {
    -ms-transform: rotate(99.4deg);
  }
  10% {
    -ms-transform: rotate(135deg);
  }
  60% {
    -ms-transform: rotate(-43deg);
  }
  100% {
    -ms-transform: rotate(99.4deg);
  }
}

@-ms-keyframes animatearch14 {
  0% {
    -ms-transform: rotate(81.6deg);
  }
  15% {
    -ms-transform: rotate(135deg);
  }
  65% {
    -ms-transform: rotate(-43deg);
  }
  100% {
    -ms-transform: rotate(81.6deg);
  }
}

@-ms-keyframes animatearch15 {
  0% {
    -ms-transform: rotate(63.8deg);
  }
  20% {
    -ms-transform: rotate(135deg);
  }
  70% {
    -ms-transform: rotate(-43deg);
  }
  100% {
    -ms-transform: rotate(63.8deg);
  }
}

@-ms-keyframes animatearch16 {
  0% {
    -ms-transform: rotate(46deg);
  }
  25% {
    -ms-transform: rotate(135deg);
  }
  75% {
    -ms-transform: rotate(-43deg);
  }
  100% {
    -ms-transform: rotate(46deg);
  }
}

@-ms-keyframes animatearch17 {
  0% {
    -ms-transform: rotate(28.2deg);
  }
  30% {
    -ms-transform: rotate(135deg);
  }
  80% {
    -ms-transform: rotate(-43deg);
  }
  100% {
    -ms-transform: rotate(28.2deg);
  }
}

@-ms-keyframes animatearch18 {
  0% {
    -ms-transform: rotate(10.4deg);
  }
  35% {
    -ms-transform: rotate(135deg);
  }
  85% {
    -ms-transform: rotate(-43deg);
  }
  100% {
    -ms-transform: rotate(10.4deg);
  }
}

@-ms-keyframes animatearch19 {
  0% {
    -ms-transform: rotate(-7.4deg);
  }
  40% {
    -ms-transform: rotate(135deg);
  }
  90% {
    -ms-transform: rotate(-43deg);
  }
  100% {
    -ms-transform: rotate(-7.4deg);
  }
}

@-ms-keyframes animatearch20 {
  0% {
    -ms-transform: rotate(-25.2deg);
  }
  45% {
    -ms-transform: rotate(135deg);
  }
  95% {
    -ms-transform: rotate(-43deg);
  }
  100% {
    -ms-transform: rotate(-25.2deg);
  }
}

@-o-keyframes animatearch01 {
  0% {
    -o-transform: rotate(-43deg);
  }
  50% {
    -o-transform: rotate(135deg);
  }
  100% {
    -o-transform: rotate(-43deg);
  }
}

@-o-keyframes animatearch02 {
  0% {
    -o-transform: rotate(-25.2deg);
  }
  5% {
    -o-transform: rotate(-43deg);
  }
  55% {
    -o-transform: rotate(135deg);
  }
  100% {
    -o-transform: rotate(-25.2deg);
  }
}

@-o-keyframes animatearch03 {
  0% {
    -o-transform: rotate(-7.4deg);
  }
  10% {
    -o-transform: rotate(-43deg);
  }
  60% {
    -o-transform: rotate(135deg);
  }
  100% {
    -o-transform: rotate(-7.4deg);
  }
}

@-o-keyframes animatearch04 {
  0% {
    -o-transform: rotate(10.4deg);
  }
  15% {
    -o-transform: rotate(-43deg);
  }
  65% {
    -o-transform: rotate(135deg);
  }
  100% {
    -o-transform: rotate(10.4deg);
  }
}

@-o-keyframes animatearch05 {
  0% {
    -o-transform: rotate(28.2deg);
  }
  20% {
    -o-transform: rotate(-43deg);
  }
  70% {
    -o-transform: rotate(135deg);
  }
  100% {
    -o-transform: rotate(28.2deg);
  }
}

@-o-keyframes animatearch06 {
  0% {
    -o-transform: rotate(46deg);
  }
  25% {
    -o-transform: rotate(-43deg);
  }
  75% {
    -o-transform: rotate(135deg);
  }
  100% {
    -o-transform: rotate(46deg);
  }
}

@-o-keyframes animatearch07 {
  0% {
    -o-transform: rotate(63.8deg);
  }
  30% {
    -o-transform: rotate(-43deg);
  }
  80% {
    -o-transform: rotate(135deg);
  }
  100% {
    -o-transform: rotate(63.8deg);
  }
}

@-o-keyframes animatearch08 {
  0% {
    -o-transform: rotate(81.6deg);
  }
  35% {
    -o-transform: rotate(-43deg);
  }
  85% {
    -o-transform: rotate(135deg);
  }
  100% {
    -o-transform: rotate(81.6deg);
  }
}

@-o-keyframes animatearch09 {
  0% {
    -o-transform: rotate(99.4deg);
  }
  40% {
    -o-transform: rotate(-43deg);
  }
  90% {
    -o-transform: rotate(135deg);
  }
  100% {
    -o-transform: rotate(99.4deg);
  }
}

@-o-keyframes animatearch10 {
  0% {
    -o-transform: rotate(117.2deg);
  }
  45% {
    -o-transform: rotate(-43deg);
  }
  95% {
    -o-transform: rotate(135deg);
  }
  100% {
    -o-transform: rotate(117.2deg);
  }
}

@-o-keyframes animatearch11 {
  0% {
    -o-transform: rotate(135deg);
  }
  50% {
    -o-transform: rotate(-43deg);
  }
  100% {
    -o-transform: rotate(135deg);
  }
}

@-o-keyframes animatearch12 {
  0% {
    -o-transform: rotate(117.2deg);
  }
  5% {
    -o-transform: rotate(135deg);
  }
  55% {
    -o-transform: rotate(-43deg);
  }
  100% {
    -o-transform: rotate(117.2deg);
  }
}

@-o-keyframes animatearch13 {
  0% {
    -o-transform: rotate(99.4deg);
  }
  10% {
    -o-transform: rotate(135deg);
  }
  60% {
    -o-transform: rotate(-43deg);
  }
  100% {
    -o-transform: rotate(99.4deg);
  }
}

@-o-keyframes animatearch14 {
  0% {
    -o-transform: rotate(81.6deg);
  }
  15% {
    -o-transform: rotate(135deg);
  }
  65% {
    -o-transform: rotate(-43deg);
  }
  100% {
    -o-transform: rotate(81.6deg);
  }
}

@-o-keyframes animatearch15 {
  0% {
    -o-transform: rotate(63.8deg);
  }
  20% {
    -o-transform: rotate(135deg);
  }
  70% {
    -o-transform: rotate(-43deg);
  }
  100% {
    -o-transform: rotate(63.8deg);
  }
}

@-o-keyframes animatearch16 {
  0% {
    -o-transform: rotate(46deg);
  }
  25% {
    -o-transform: rotate(135deg);
  }
  75% {
    -o-transform: rotate(-43deg);
  }
  100% {
    -o-transform: rotate(46deg);
  }
}

@-o-keyframes animatearch17 {
  0% {
    -o-transform: rotate(28.2deg);
  }
  30% {
    -o-transform: rotate(135deg);
  }
  80% {
    -o-transform: rotate(-43deg);
  }
  100% {
    -o-transform: rotate(28.2deg);
  }
}

@-o-keyframes animatearch18 {
  0% {
    -o-transform: rotate(10.4deg);
  }
  35% {
    -o-transform: rotate(135deg);
  }
  85% {
    -o-transform: rotate(-43deg);
  }
  100% {
    -o-transform: rotate(10.4deg);
  }
}

@-o-keyframes animatearch19 {
  0% {
    -o-transform: rotate(-7.4deg);
  }
  40% {
    -o-transform: rotate(135deg);
  }
  90% {
    -o-transform: rotate(-43deg);
  }
  100% {
    -o-transform: rotate(-7.4deg);
  }
}

@-o-keyframes animatearch20 {
  0% {
    -o-transform: rotate(-25.2deg);
  }
  45% {
    -o-transform: rotate(135deg);
  }
  95% {
    -o-transform: rotate(-43deg);
  }
  100% {
    -o-transform: rotate(-25.2deg);
  }
}

@keyframes animatearch01 {
  0% {
    transform: rotate(-43deg);
  }
  50% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(-43deg);
  }
}

@keyframes animatearch02 {
  0% {
    transform: rotate(-25.2deg);
  }
  5% {
    transform: rotate(-43deg);
  }
  55% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(-25.2deg);
  }
}

@keyframes animatearch03 {
  0% {
    transform: rotate(-7.4deg);
  }
  10% {
    transform: rotate(-43deg);
  }
  60% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(-7.4deg);
  }
}

@keyframes animatearch04 {
  0% {
    transform: rotate(10.4deg);
  }
  15% {
    transform: rotate(-43deg);
  }
  65% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(10.4deg);
  }
}

@keyframes animatearch05 {
  0% {
    transform: rotate(28.2deg);
  }
  20% {
    transform: rotate(-43deg);
  }
  70% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(28.2deg);
  }
}

@keyframes animatearch06 {
  0% {
    transform: rotate(46deg);
  }
  25% {
    transform: rotate(-43deg);
  }
  75% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(46deg);
  }
}

@keyframes animatearch07 {
  0% {
    transform: rotate(63.8deg);
  }
  30% {
    transform: rotate(-43deg);
  }
  80% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(63.8deg);
  }
}

@keyframes animatearch08 {
  0% {
    transform: rotate(81.6deg);
  }
  35% {
    transform: rotate(-43deg);
  }
  85% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(81.6deg);
  }
}

@keyframes animatearch09 {
  0% {
    transform: rotate(99.4deg);
  }
  40% {
    transform: rotate(-43deg);
  }
  90% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(99.4deg);
  }
}

@keyframes animatearch10 {
  0% {
    transform: rotate(117.2deg);
  }
  45% {
    transform: rotate(-43deg);
  }
  95% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(117.2deg);
  }
}

@keyframes animatearch11 {
  0% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(-43deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes animatearch12 {
  0% {
    transform: rotate(117.2deg);
  }
  5% {
    transform: rotate(135deg);
  }
  55% {
    transform: rotate(-43deg);
  }
  100% {
    transform: rotate(117.2deg);
  }
}

@keyframes animatearch13 {
  0% {
    transform: rotate(99.4deg);
  }
  10% {
    transform: rotate(135deg);
  }
  60% {
    transform: rotate(-43deg);
  }
  100% {
    transform: rotate(99.4deg);
  }
}

@keyframes animatearch14 {
  0% {
    transform: rotate(81.6deg);
  }
  15% {
    transform: rotate(135deg);
  }
  65% {
    transform: rotate(-43deg);
  }
  100% {
    transform: rotate(81.6deg);
  }
}

@keyframes animatearch15 {
  0% {
    transform: rotate(63.8deg);
  }
  20% {
    transform: rotate(135deg);
  }
  70% {
    transform: rotate(-43deg);
  }
  100% {
    transform: rotate(63.8deg);
  }
}

@keyframes animatearch16 {
  0% {
    transform: rotate(46deg);
  }
  25% {
    transform: rotate(135deg);
  }
  75% {
    transform: rotate(-43deg);
  }
  100% {
    transform: rotate(46deg);
  }
}

@keyframes animatearch17 {
  0% {
    transform: rotate(28.2deg);
  }
  30% {
    transform: rotate(135deg);
  }
  80% {
    transform: rotate(-43deg);
  }
  100% {
    transform: rotate(28.2deg);
  }
}

@keyframes animatearch18 {
  0% {
    transform: rotate(10.4deg);
  }
  35% {
    transform: rotate(135deg);
  }
  85% {
    transform: rotate(-43deg);
  }
  100% {
    transform: rotate(10.4deg);
  }
}

@keyframes animatearch19 {
  0% {
    transform: rotate(-7.4deg);
  }
  40% {
    transform: rotate(135deg);
  }
  90% {
    transform: rotate(-43deg);
  }
  100% {
    transform: rotate(-7.4deg);
  }
}

@keyframes animatearch20 {
  0% {
    transform: rotate(-25.2deg);
  }
  45% {
    transform: rotate(135deg);
  }
  95% {
    transform: rotate(-43deg);
  }
  100% {
    transform: rotate(-25.2deg);
  }
}
